createdAt: "2018-04-16T15:27:08.107Z"
updatedAt: "2018-04-21T17:04:05.815Z"
type: "MARKDOWN_NOTE"
folder: "ad14fd65d81dd1e083f3"
title: "April 16"
content: '''
  # April 16
  
  ## Theory/coding practice:
  - [ ] Cracking the Code Interview (1-2 hours)
'''
tags: []
isStarred: false
isTrashed: true
