createdAt: "2018-04-23T02:32:10.268Z"
updatedAt: "2018-04-23T02:32:36.014Z"
type: "MARKDOWN_NOTE"
folder: "ad14fd65d81dd1e083f3"
title: "Future"
content: '''
  # Future
  
   ## Theory/coding practice:
  - [ ] Compare [Cracking the Coding Interview 6th Ed. JavaScript Solutions](https://github.com/careercup/CtCI-6th-Edition-JavaScript) with my answers so far
  - [ ] Start Git repository for solving Cracking the Coding Interview questions
  
  ## Personal blog
  - [ ] Edit Cuba photos
  
'''
tags: []
isStarred: false
isTrashed: false
