createdAt: "2018-04-15T21:34:31.882Z"
updatedAt: "2018-04-15T21:41:27.210Z"
type: "MARKDOWN_NOTE"
folder: "ad14fd65d81dd1e083f3"
title: "To run this project"
content: '''
  #### To run this project
  1. [Install Docker and docker-compose](https://docs.docker.com/docker-for-mac/install/#install-and-run-docker-for-mac) on your machine
  2. Inside  the root directory of this project run `docker-compose build` to build the app
  3. Run `docker-compose up` to start the docker container
  
  The application lives at `http://localhost:8080/`
  The Node server lives at `http://localhost:3000/`
  Elasticsearch lives at `http://localhost:9200/`
'''
tags: []
isStarred: false
isTrashed: true
